<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 掃描 Controller -->
    <context:component-scan base-package="com.example"/>

    <!-- 啟用 Spring MVC -->
    <mvc:annotation-driven/>

    <!-- View Resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    <!-- DataSource --><!-- 取代Hibernate -->
	<bean id="dataSource"
	      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
	    <property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=TestDB;encrypt=true;trustServerCertificate=true;"/>
	    <property name="username" value="Lorlith"/>
	    <property name="password" value="8300322"/>
	</bean>
	
	<!-- SessionFactory --><!-- 取代Hibernate，把sessionFactory納入Srping容器控管 -->
	<bean id="sessionFactory"
	      class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	    
	    <property name="dataSource" ref="dataSource"/>
	    
	    <property name="packagesToScan" value="com.example.*"/>
	    
	    <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.dialect">
	                org.hibernate.dialect.SQLServerDialect
	            </prop>
	            <prop key="hibernate.show_sql">true</prop>
	        </props>
	    </property>
	</bean>
	
	<bean id="transactionManager"
	      class="org.springframework.orm.hibernate5.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>

</beans>